<% @article.comments.each do |comment|  %>
<div class="comment-show w-100 d-flex">
    <div class="comment-user-image">
        <% if comment.user.profile_image.attached? %>
        <%= image_tag(comment.user&.profile_image) %>
        <% else %>
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png">
        <% end %>
    </div>
    <div class="comment-content w-100 px-4">
        <div class="comment-user-name ">
            <%= comment.user.name %>
        </div>
        <div class="comment-body">
            <%= comment.content %>
        </div>
    </div>
</div>
<% end %>