body {
  min-height: 100vh !important;
  position: relative;
  padding-bottom: 132px;
}

.active2 {
  color: #f76108 !important;
}

.hoveractive {
  &:hover {
    color: #f76108 !important;
  }

  color: grey;
}

.main-article {
  height: 60vh;
  position: relative;

  a {
    img {
      width: 100% !important;
      height: 100%;
      object-fit: cover;
    }
  }

  .main-article-description {
    position: absolute;
    bottom: 40px;
    left: 60px;

    .title {
      font-size: 26px;
      font-weight: 600;
      color: #f76108;
    }

    .body {
      color: white;
      font-size: 18px;
    }
  }
}

.comment-show {
  background-color: rgb(250, 248, 248);
  padding: 40px;
  min-height: 200px;
  margin: 20px 10px;

  .comment-user-image {
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }

  .comment-content {
    .comment-user-name {
      font-size: 28px;
      margin-bottom: 20px;
    }

    .comment-body {
      font-size: 20px;
      word-break: break-all;
    }
  }
}

.categories {
  .category-container {
    height: 33vh !important;
    position: relative !important;

    .category-image {
      height: 100% !important;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .category_name {
      position: absolute;
      top: 20px;
      left: 30px;
      color: white;
      font-size: 22px;
      font-weight: 700;

      p {
        text-decoration: underline yellow;
      }
    }

    .category-article-title {
      font-size: 18px;
      font-weight: 600;
      color: white;
      position: absolute;
      bottom: 0;
      left: 30px;
    }
  }
}

footer {
  bottom: 0;
  background-color: #383838;
  padding: 10px 0;
  width: 100%;
  position: absolute;

  .footer-container {
    max-width: 1500px;
    margin: auto;
    
    color: white;

    div {
      * {
        span {
          color: red;
        }
      }

      a {
        color: rgb(189, 189, 189);
        text-decoration: none;
      }
    }

    ul {
      margin: 20px 0;

      li {
        a {
          color: white;
          padding: 15px;
        }
      }
    }
  }
}

.article-form-top {
  height: 400px !important;
  background-color: whitesmoke;

  .article-form-top-container {
    width: 400px;

    .image {
      padding: 0;
      width: 400px !important;
      height: 50px !important;
    }

    .category {
      height: 50px;
      width: 400px;
    }
  }
}

.article-form-title {
  input {
    &:active,
    &:focus {
      border: rgb(206, 206, 206);
      outline: none;
    }

    min-height: 100px;
    height: auto;
    margin: 20px 0;
    width: 100%;
    background-color: rgb(238, 236, 236);
    border: none;
    padding: 30px;
    font-size: 26px;
  }
}

.article-form-body {
  &:active,
  &:focus,
  &:hover {
    outline: none;
    border: 4px solid rgb(236, 236, 236);
    background-color: rgb(253, 250, 250);
  }

  border: none;
  background-color: white;
  font-size: 24px;
  padding: 30px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  height: 350px;
}

.article-title {
  width: 100%;
  height: auto;
  font-size: 34px;
  padding: 20px;
  margin: 40px 0 !important;
  font-weight: 600;
  .vote_container{
    font-size: 18px;
    margin: 0;
    padding: 0;
  }
}

.article-body {
  width: 100%;
  height: auto;
  font-size: 26px;
  padding: 20px;
  margin-bottom: 40px;
}

.comment-form {
  margin: 40px 10px;

  form {
    position: relative;

    textarea.form-control {
      display: flex;
      padding: 30px 60px;
      height: 200px;
      font-size: 24px;
    }

    input.btn {
      position: absolute;
      right: 20px;
      bottom: 20px;
    }
  }
}

.login-container {
  height: 100vh;
}

.user-container {
  height: 100vh;

  .username {
    font-weight: 500;
    font-size: 28px;
    margin: 20px;
  }

  .user-email {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 60px;
  }

  .user-image {
    * {
      width: 300px;
      height: 300px;
      border-radius: 50%;
    }
  }
}

.category-container-2 {
  min-height: 90vh;

  .category-article-container {
    height: 45vh !important;
    overflow: hidden;

    .category-article-image {
      height: 45vh !important;

      img {
        width: 100%;
        object-fit: cover;
        height: 45vh !important;
      }
    }

    .category-article-details {
      img {
        opacity: 0.1;
        object-fit: fill;
      }

      position: relative;

      .details {
        position: absolute;
        top: 0;
        width: 100%;

        .category-name {
          font-size: 28px;
          font-weight: 800;
          color: #f76108;
          margin: 15px 0;
          text-decoration: underline #f76108;
          text-underline-position: under;
        }

        .title {
          font-size: 26px;
          font-weight: 700;
          color: #2c1202;
          margin-bottom: 15px;
        }

        .body {
          font-size: 22px;
          word-break: break-all;
        }

        .read-more {
          a {
            color: #f76108;
          }
        }
      }
    }
  }
}
