.login-container {
  height: 100vh;
}

.user-container {
  height: 100vh;

  .username {
    font-weight: 500;
    font-size: 28px;
    margin: 20px;
  }

  .user-email {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 60px;
  }

  .user-image {
    * {
      width: 300px;
      height: 300px;
      border-radius: 50%;
    }
  }
}
